{% extends 'base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block body %}

    <h1>Logowanie</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary px-4 px-lg-5">Sign in</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
