#costCalculatorMod {
    top: 30%;
    left: 30px;
    min-width: 350px;
}

#costCalculatorMod #costCalculatorModBody {
    position: relative;
    min-width: 320px;
}

#costCalculatorMod #costCalculatorModBody .lg-not-possible {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.7);
}

#costCalculatorMod #costCalculatorModBody .lg-not-possible::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 240px;
}

#costCalculatorMod #costCalculatorModBody input {
    display: inline-block;
    width: 25px;
    text-align: center;
    padding: 1px 5px;
    line-height: 1.5;
    background-color: var(--background-light);
    color: var(--text-medium);
    background-clip: padding-box;
    border: 1px solid var(--text-dark);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#costCalculatorMod #costCalculatorModBody strong {
    color: var(--text-bright);
}

#costCalculatorMod #costCalculatorModBody p.header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#costCalculatorMod #costCalculatorModBody p.header span {
    color: var(--text-normal);
}

#costCalculatorMod #costCalculatorModBody p.header .building-name {
    font-size: 115%;
}

#costCalculatorMod #costCalculatorModBody p.header .player-name {
    display: block;
    white-space: nowrap;
    color: var(--text-bright);
    margin: 0 10px;
}

#costCalculatorMod #costCalculatorModBody table.foe-table {
    margin-top: 3px;
}

#costCalculatorMod tr th {
    text-align: center;
}

#costCalculatorMod tr th span {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: bottom;
}

#costCalculatorMod #costCalculatorModBody .foe-table td {
    white-space: nowrap;
}

#costCalculatorMod #costCalculatorModBody td.error,
#costCalculatorMod #costCalculatorModBody td .error {
    color: #ec4d4d;
}

#costCalculatorMod #costCalculatorModBody strong.success {
    color: var(--text-success);
}

#costCalculatorMod #costCalculatorModBody .text-grey,
#costCalculatorMod #costCalculatorModBody .text-grey strong {
    color: #b1b1b1;
    opacity: 0.75;
}

#costCalculatorMod #costCalculatorModBody strong.info {
    color: var(--text-info);
}

#costCalculatorMod #costCalculatorModBody tr.info-row {
    background-color: var(--background-table-info);
}

#costCalculatorMod #costCalculatorModBody tr.bg-green {
    background-color: var(--background-table-success);
}

#costCalculatorMod #costCalculatorModBody tr.bg-red {
    background-color: var(--background-table-error);
}

#costCalculatorMod #costCalculatorModBody tr.bg-yellow {
    background-color: var(--background-table-bright);
}
#costCalculatorModBody #costTable {
    user-select: text;
}