
<div id="table-scroll" class="table-sortable table-responsive">
    <table class="table table-bordered table-striped table-hover table-dark  table-sm">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Liczba graczy
            </th>
            <th>
                Prowincje
            </th>
            <th>
                PC
            </th>
        </tr>
        </thead>
        <tbody>
        {% for guild in data.data.leaderboardEntries %}
            <tr style="background-color: {{ html_classes({
                '#665700': guild.rank == 1,
                '#696969': guild.rank == 2,
                '#6A3805': guild.rank == 3,
                'rgba(106,56,5,0.8)': guild.rank == 4,
                'rgba(106,56,5,0.7)': guild.rank == 5,
                'rgba(106,56,5,0.5)': guild.rank == 6,
                'rgba(106,56,5,0.3)': guild.rank == 7,
                'rgba(106,56,5,0.1)': guild.rank == 8,
            })}}">
                <td>
                    {{ guild.rank}}
                </td>
                <td>
                    {{ guild.clan.name }}
                </td>
                <td>
                    {{ guild.clan.membersNum }}
                </td>
                <td>
                    {{ guild.provinces }}
                </td>
                <td data-order="{{ guild.victoryPointsTotal|default(0) }}">
                    {{ guild.victoryPointsTotal|default(0)|format_number }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>