<h1>Szczegółowe statystyki towarów</h1>
<div id="table-scroll" class="table-sortable table-responsive">
    <table class="table table-bordered table-dark  table-sm">
        <thead>
        <tr>
            <th>Epoka</th>
            <th>GVG - uwolnienie</th>
            <th>Produkcja</th>
            <th>Wpłaty do skarbca</th>
            <th class="bg-secondary">Suma</th>
            <th>GPC - Budynek</th>
            <th>GvG - Oblegi</th>
            <th>GVG - Slot armii</th>
            <th>Wyprawy</th>
            <th class="bg-secondary">Suma</th>
            <th class="bg-secondary">Bilans Epoki</th>
        </tr>
        </thead>
        <tbody>
        {% set sumSumIn = 0 %}
        {% set sumSumOut = 0 %}
        {% set sumBilans = 0 %}
        {% for i in range(1, eraRep.getLastNumber) %}
            {% set era = 'era.i'~i %}
            {% if dataLogs[era] is defined %}
                {% set sumIn = dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_TREASURY')]['amount']|default(0)+dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_PRODUCTION')]['amount']|default(0)+dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GVG_REMOVE_SECTOR')]['amount']|default(0)  %}
                {% set sumOut = dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GPC_BUILDING')]['amount']|default(0)+dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GVG_ARMY')]['amount']|default(0)+
                    dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GVG_SECTOR')]['amount']|default(0)+dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_WG')]['amount']|default(0)  %}
                {% set bilans = sumIn+sumOut %}
                {% set sumSumIn = sumSumIn+sumIn %}
                {% set sumSumOut = sumSumOut+sumOut %}
                {% set sumBilans = sumBilans+bilans %}
                <tr style="background-color: {{ dataLogs[era].color }}">
                    <th data-order="{{ i }}">{{ era|trans }}</th>
                    <td data-order="{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GVG_REMOVE_SECTOR')]['amount']|default(0) }}">{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GVG_REMOVE_SECTOR')]['amount']|default(0)|number_format(0) }}
                        {% include 'default/_data_logs_badge.html.twig' with {'resources': dataLogs[era]['resources'][constant('App\\Entity\\GuildTreasury::ACTION_GVG_REMOVE_SECTOR')]|default([])} %}
                    </td>
                    <td data-order="{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_PRODUCTION')]['amount']|default(0) }}">{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_PRODUCTION')]['amount']|default(0)|number_format(0) }}
                        {% include 'default/_data_logs_badge.html.twig' with {'resources': dataLogs[era]['resources'][constant('App\\Entity\\GuildTreasury::ACTION_PRODUCTION')]|default([])} %}
                    </td>
                    <td data-order="{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_TREASURY')]['amount']|default(0) }}">{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_TREASURY')]['amount']|default(0)|number_format(0) }}
                        {% include 'default/_data_logs_badge.html.twig' with {'resources': dataLogs[era]['resources'][constant('App\\Entity\\GuildTreasury::ACTION_TREASURY')]|default([])} %}
                    </td>
                    <td data-order="{{ sumIn }}" class="{% if sumIn > 0 %}bg-success{% elseif sumIn < 0 %}bg-danger{% else %}bg-secondary{% endif %}">{{ sumIn|number_format(0) }}</td>

                    <td data-order="{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GPC_BUILDING')]['amount']|default(0) }}">{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GPC_BUILDING')]['amount']|default(0)|number_format(0) }}
                        {% include 'default/_data_logs_badge.html.twig' with {'resources': dataLogs[era]['resources'][constant('App\\Entity\\GuildTreasury::ACTION_GPC_BUILDING')]|default([])} %}
                    </td>
                    <td data-order="{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GVG_ARMY')]['amount']|default(0) }}">{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GVG_ARMY')]['amount']|default(0)|number_format(0) }}
                        {% include 'default/_data_logs_badge.html.twig' with {'resources': dataLogs[era]['resources'][constant('App\\Entity\\GuildTreasury::ACTION_GVG_ARMY')]|default([])} %}
                    </td>
                    <td data-order="{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GVG_SECTOR')]['amount']|default(0) }}">{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GVG_SECTOR')]['amount']|default(0)|number_format(0) }}
                        {% include 'default/_data_logs_badge.html.twig' with {'resources': dataLogs[era]['resources'][constant('App\\Entity\\GuildTreasury::ACTION_GVG_SECTOR')]|default([])} %}
                    </td>
                    <td data-order="{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_WG')]['amount']|default(0) }}">{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_WG')]['amount']|default(0)|number_format(0) }}
                        {% include 'default/_data_logs_badge.html.twig' with {'resources': dataLogs[era]['resources'][constant('App\\Entity\\GuildTreasury::ACTION_WG')]|default([])} %}
                    </td>
                    <td data-order="{{ sumOut }}" class="{% if sumOut > 0 %}bg-success{% elseif sumOut < 0 %}bg-danger{% else %}bg-secondary{% endif %}">{{ sumOut|number_format(0) }}</td>
                    <td data-order="{{ bilans }}" class="{% if bilans > 0 %}bg-success{% elseif bilans < 0 %}bg-danger{% else %}bg-secondary{% endif %}">{{ bilans|number_format(0) }}
                        {% include 'default/_data_logs_badge.html.twig' with {'resources': dataLogs[era]['resources']['sum']} %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Suma</th>
            <td>{{ dataLogs|column(constant('App\\Entity\\GuildTreasury::ACTION_GVG_REMOVE_SECTOR'))|map(p => p.amount)|sum|number_format(0)  }}</td>
            <td>{{ dataLogs|column(constant('App\\Entity\\GuildTreasury::ACTION_PRODUCTION'))|map(p => p.amount)|sum|number_format(0)  }}</td>
            <td>{{ dataLogs|column(constant('App\\Entity\\GuildTreasury::ACTION_TREASURY'))|map(p => p.amount)|sum|number_format(0)  }}</td>
            <td></td>
            {#                <td data-order="{{ sumSumIn }}" class="{% if sumSumIn > 0 %}bg-success{% elseif sumSumIn < 0 %}bg-danger{% else %}bg-secondary{% endif %}">{{ sumSumIn|number_format(0) }}</td>#}
            <td>{{ dataLogs|column(constant('App\\Entity\\GuildTreasury::ACTION_GPC_BUILDING'))|map(p => p.amount)|sum|number_format(0)  }}</td>
            <td>{{ dataLogs|column(constant('App\\Entity\\GuildTreasury::ACTION_GVG_ARMY'))|map(p => p.amount)|sum|number_format(0)  }}</td>
            <td>{{ dataLogs|column(constant('App\\Entity\\GuildTreasury::ACTION_GVG_SECTOR'))|map(p => p.amount)|sum|number_format(0)  }}</td>
            <td>{{ dataLogs|column(constant('App\\Entity\\GuildTreasury::ACTION_WG'))|map(p => p.amount)|sum|number_format(0)  }}</td>
            <td data-order="{{ sumSumOut }}" class="{% if sumSumOut > 0 %}bg-success{% elseif sumSumOut < 0 %}bg-danger{% else %}bg-secondary{% endif %}">{{ sumSumOut|number_format(0) }}</td>
            <td data-order="{{ sumBilans }}" class="{% if sumBilans > 0 %}bg-success{% elseif sumBilans < 0 %}bg-danger{% else %}bg-secondary{% endif %}">{{ sumBilans|number_format(0) }}</td>
        </tr>
        </tfoot>
    </table>
</div>