{% if resources|length %}
<div class="dropdown d-inline-block">
    <a class="badge badge-secondary" type="button" data-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-question"></i>
    </a>
    <div class="dropdown-menu">
        {% for resource in resources|sort((a, b) => b.amount <=> a.amount) %}
            <span class="dropdown-item-text text-nowrap"><strong>{{ resource.name }}: </strong>{{ resource.amount|number_format(0) }}</span>
        {% endfor %}
    </div>
</div>
{% endif %}