
<div id="table-scroll" class="table-sortable table-responsive">
    <table class="table table-bordered table-dark table-sm">
        <thead>
        <tr>
            <th>
                Towar
            </th>
            {% for label in data.labels %}
                <th>{{ label|format_date('long') }}</th>
            {% endfor %}
            <th>
                Epoka
            </th>
        </tr>
        </thead>
        <tbody>
        {% for resource in data.datasets %}
            {% set lastRow = loop.last %}
            <tr style="background-color: {{ resource.bgColor }}">
                <th data-order="{{ resource.era }}">
                    <img  height="20" src="{{ asset('build/images/resources/'~resource.slug~'.png') }}">
                    {{ resource.label }}
                </th>
                {% for k,dd in resource.data %}
                    <td data-order="{{ dd }}">
                        {% if dd is same as(0)  %}
                            {{ dd|format_value(k, resource.data, 'resource', data.labels, lastRow)|raw }}
                        {% elseif dd > 0 %}
                            {{ dd|format_value(k, resource.data, 'resource', data.labels, lastRow)|raw }}
                        {% else %}
                            --
                        {% endif %}

                    </td>
                {% endfor %}
                <th data-order="{{ resource.era }}">
                    {{ ('era.i'~resource.era)|trans }}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>