
<div id="table-scroll" class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-dark  table-sm">
        <thead>
        <tr>
            <th>
                #
            </th>
            {% for label in data.labels %}
                <th>{{ label|format_date('long') }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for key,row in data.datasets %}
            <tr>
                <th>
                    {{ row.label|trans }}
                </th>
                {% for k,data in row.data %}
                    <td data-order="{{ data }}">
                        {% if data.id is defined %}
                            {{ ('era.i'~data.number)|trans }}
                        {% elseif data matches '/^\\d+$/' %}
                            {{ data|format_value(k, row.data, 'statistic')|raw }}
                        {% elseif data %}
                            {{ data|trans }}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>