{% extends 'base.html.twig' %}
{% block body %}
    <h1>Sumaryczne koszty budynków GPC</h1>
    <div class="card text-white bg-dark">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md">
                    {{ form_row(form.era) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.building) }}
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-primary float-right">Filtruj</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <hr>
    <div id="table-scroll" class="table-responsive">
        <table class="table table-bordered table-dark table-sm">
            <thead>
            <tr>
                <th>
                    Towar
                </th>
                <th>
                    Ilość
                </th>
                <th>
                    Epoka
                </th>
            </tr>
            </thead>
            {% for nr,era in eras %}
                <tbody>
                {% for resource in era.resources %}
                    <tr style="background-color: {{ resource.color }}">
                        <td>
                            <img  height="20" src="{{ asset('build/images/resources/'~resource.slug~'.png') }}">
                            {{ resource.name }}
                        </td>
                        <td data-order="{{ resource.amount }}">
                            {{ resource.amount|format_number  }} ({{ (resource.amount/era.sum*100)|format_number  }}%)
                        </td>
                        <td data-order="{{ resource.era }}">
                            {{ ('era.i'~resource.era)|trans }}
                        </td>
                    </tr>
                {% endfor %}
                <tr style="background-color: #323232">
                    <th>Suma</th>
                    <th>{{ era.sum|format_number  }} ({{ (era.sum/eras|column('sum')|sum*100)|format_number  }}%)</th>
                    <th>{{ ('era.i'~era.resources[0].era)|trans }}</th>
                </tr>
                </tbody>
            {% endfor %}
            <tr style="background-color: #573636">
                <th>Suma</th>
                <th>{{ eras|column('sum')|sum|format_number  }}</th>
                <th>Wszystkie epoki</th>
            </tr>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}