{% extends 'default/index.html.twig' %}
{% block body %}
    <div id="ProvinceMap" class="{{ battleground.mapId }}">
        <div id="ProvinceMapBody">
            <div id="province-map-wrap">

                <canvas id="ProvinceMapCanvas" width="1000" height="1000"></canvas>
            </div>

        </div>
    </div>
    {% for province in battleground.provinces %}

        <div class="modal fade" id="bg-province-{{ province.data.provinceId }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">{{ province.data.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for building in province.buildings %}
                            <div class="row">
                                <div class="col-sm-4"><h5 {% if building.computedData.lowResources %} style="color: {{ building.computedData.lowResources }}"{%endif%}>{{ building.building.name }}</h5></div>
                                <div class="col-sm-8">
                                    <ul class="list-unstyled">
                                        {% for cost in building.costs %}
                                            <li {% if cost.computedData.lowResources%} style="color: {{ building.computedData.lowResources }}"{%endif%}>
                                                <img  height="20" src="{{ asset('build/images/resources/'~cost.resource.slug~'.png') }}">
                                                {{ cost.resource.name }}:
                                                <strong>{{ cost.amount }} </strong> <sup>({{ cost.computedData.resources|format_number }})</sup>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        let battleground = {{ battlegroundJson|raw }};
        function relMouseCoords(event){
            var totalOffsetX = 0;
            var totalOffsetY = 0;
            var canvasX = 0;
            var canvasY = 0;
            var currentElement = this;

            do{
                totalOffsetX += currentElement.offsetLeft - currentElement.scrollLeft;
                totalOffsetY += currentElement.offsetTop - currentElement.scrollTop;
            }
            while(currentElement = currentElement.offsetParent)

            canvasX = event.pageX - totalOffsetX;
            canvasY = event.pageY - totalOffsetY;

            return {x:canvasX, y:canvasY}
        }
        HTMLCanvasElement.prototype.relMouseCoords = relMouseCoords;
        let ProvinceMap = {

            Map: {},
            MapCTX: {},

            Size: {
                width: 1000,
                height: 1000
            },

            Provinces: [],
            Circles: [],

            StrokeColor: '#111',


            getSectorColors: (ownerID) => {
                if (ownerID !== undefined) {
                    let clan = battleground.participants.find(c => c.participantId === ownerID);
                    return {
                        main: clan.color,
                        highlight: clan.color,
                        shadow: clan.color,
                        base: clan.color,
                        id: ownerID
                    }
                }
                else
                    return {
                        main: '#444',
                        highlight: '#666',
                        shadow: '#333',
                        base: '#444',
                        id: undefined
                    }
            },


            prepare: () => {
                ProvinceMap.Map = document.getElementById('ProvinceMapCanvas');
                ProvinceMap.MapCTX = ProvinceMap.Map.getContext('2d');
                ProvinceMap.MapCTX.strokeStyle = ProvinceMap.StrokeColor;
                ProvinceMap.MapCTX.lineWidth = 2;

                function isIntersect(point, circle) {
                    return Math.sqrt((point.x-circle.x) ** 2 + (point.y - circle.y) ** 2) < circle.radius;
                }
                ProvinceMap.Map.addEventListener('click', (e) => {
                    coords = ProvinceMap.Map.relMouseCoords(e);
                    ProvinceMap.Circles.forEach(circle => {
                        if (isIntersect(coords, circle)) {
                            $('#bg-province-'+circle.data.id).modal('show')
                        }
                    });
                });

                // put 0,0 in the center on volcano map
                if (battleground.mapId === "volcano_archipelago")
                    ProvinceMap.MapCTX.translate(ProvinceMap.Size.width/2, ProvinceMap.Size.height/2);

                // Objects
                function Province(data) {
                    this.id = data.id || 0;
                    this.name = data.name;
                    this.short = data.short;
                    this.links = data.links;
                    this.flag = data.flag;
                    this.isSpawnSpot = data.isSpawnSpot;
                    this.owner = {
                        id: data.ownerID,
                        name: data.ownerName,
                        flagImg: data.flagImg,
                        colors: ProvinceMap.getSectorColors(data.ownerID),
                    };
                    this.circlePosition = data.circlePosition;
                    this.slots = data.slots;
                    this.lowResources = data.lowResources;

                    return this;
                }

                Province.prototype.updateMapSector = function () {
                    this.drawMapSector(battleground.mapId);
                }

                Province.prototype.drawMapSector = function (mapType = 'waterfall_archipelago') {
                    ProvinceMap.MapCTX.font = 'bold 30px Arial';
                    ProvinceMap.MapCTX.textAlign = "center";
                    ProvinceMap.MapCTX.textBaseline = "top";
                    ProvinceMap.MapCTX.fillStyle = this.owner.colors.highlight;

                    let sector = this;
                    let noRealignSectors = [];

                    // waterfall map
                    let hexwidthFactor = 7.5;
                    let hexheightFactor = 10;
                    let mapStuff = {
                        hexwidth: ProvinceMap.Size.width / hexwidthFactor,
                        hexheight: ProvinceMap.Size.height / hexheightFactor,
                        x: sector.flag.x * (ProvinceMap.Size.width / (hexwidthFactor*2 + hexwidthFactor*2/3)) + ProvinceMap.Size.width / (hexwidthFactor*2 + hexwidthFactor*2/3),
                        y: sector.flag.y * (ProvinceMap.Size.height / (hexheightFactor*2)) + (ProvinceMap.Size.height / (hexheightFactor*2))
                    };

                    if (mapType === 'volcano_archipelago') {
                        let xy = { x: 1, y: -1};
                        mapStuff.x = xy.x*(sector.circlePosition.radius-sector.circlePosition.initRadius/2)*Math.sin(sector.circlePosition.angle+sector.circlePosition.angleFragment/2);
                        mapStuff.y = xy.y*(sector.circlePosition.radius-sector.circlePosition.initRadius/2)*Math.cos(sector.circlePosition.angle+sector.circlePosition.angleFragment/2);
                        noRealignSectors = [1,2,29,31,30,32,33,34,35,37,38,39,41,42,43,45,46,47,49,50,51,53,54,55,57,58,59];

                        // realign some sectors on volcano map to have more space
                        if (!noRealignSectors.includes(sector.id) && sector.owner.flagImg == undefined)
                            mapStuff.y = mapStuff.y - 10;
                        ProvinceMap.Circles.push({
                            x: mapStuff.x+ProvinceMap.Size.width/2,
                            y: mapStuff.y+ProvinceMap.Size.width/2,
                            radius: 50,
                            data: this
                        })
                    }
                    else {

                        ProvinceMap.Circles.push({
                            x: mapStuff.x,
                            y: mapStuff.y,
                            radius: 50,
                            data: this
                        })
                    }

                    if (sector.owner.flagImg && sector.isSpawnSpot)
                        sector.drawStartSector(mapStuff, mapType);

                    else {
                        ProvinceMap.MapCTX.fillStyle = sector.owner.colors.highlight;

                        if (mapType === 'volcano_archipelago')
                            sector.drawSectorShape();
                        else
                            drawHex(sector, mapStuff.x, mapStuff.y, mapStuff.hexwidth, mapStuff.hexheight);

                        mapStuff.y = mapStuff.y - 20;

                        sector.drawTitleAndSlots(true, mapStuff.x, mapStuff.y);


                    }
                }


                Province.prototype.drawTitleAndSlots = function(drawCentered = true, x, y) {
                    let titleY = y;
                    let slotsY = y - 20;
                    if (drawCentered) {
                        titleY = y + 10;
                        slotsY = y - 10;
                    }

                    ProvinceMap.MapCTX.font = 'bold 30px Arial';
                    ProvinceMap.MapCTX.strokeStyle = '#fff5';
                    ProvinceMap.MapCTX.strokeText(this.short, x, titleY);
                    ProvinceMap.MapCTX.fillStyle = '#000';
                    ProvinceMap.MapCTX.fillText(this.short, x, titleY);
                    if (this.slots != undefined) {
                        let slots = '';
                        if (this.slots == 1)
                            slots = '·';
                        else if (this.slots == 2)
                            slots = '··';
                        else if (this.slots == 3)
                            slots = '···';
                        ProvinceMap.MapCTX.fillStyle = 'rgba(78,255,187,0.51)';
                        ProvinceMap.MapCTX.strokeText(slots, x, slotsY);
                        ProvinceMap.MapCTX.fillText(slots, x, slotsY);
                    }
                }

                Province.prototype.drawStartSector = function(mapStuff, mapType) {
                    let flag_image = new Image();
                    flag_image.src = `{{ asset('build/images/guild_flag/Guild_') }}${this.owner.flagImg}.jpg`;
                    let sector = this;
                    let flagX = mapStuff.x-25;
                    let flagY = mapStuff.y-25;
                    let flagSize = 50;

                    flag_image.onload = function () {
                        ProvinceMap.MapCTX.fillStyle = sector.owner.colors.highlight;
                        if (mapType !== 'waterfall_archipelago')
                            sector.drawSectorShape();
                        else
                            drawHex(sector, mapStuff.x, mapStuff.y, mapStuff.hexwidth, mapStuff.hexheight);

                        ProvinceMap.MapCTX.drawImage(this, flagX, flagY, flagSize, flagSize);
                    }
                }

                Province.prototype.drawSectorShape = function() {
                    let xy = { x: 1, y: -1 }; // change first quadrant
                    let radius = this.circlePosition.radius;
                    let initRadius = this.circlePosition.initRadius;
                    let angle = this.circlePosition.angle;
                    let angleFragment = this.circlePosition.angleFragment;

                    ProvinceMap.MapCTX.beginPath();
                    ProvinceMap.MapCTX.moveTo(xy.x*(radius-initRadius) * Math.sin(angle), xy.y*(radius-initRadius) * Math.cos(angle));
                    ProvinceMap.MapCTX.lineTo(xy.x*radius * Math.sin(angle), xy.y*radius * Math.cos(angle));
                    ProvinceMap.MapCTX.lineTo(xy.x*radius * Math.sin(angle+angleFragment/2), xy.y*radius * Math.cos(angle+angleFragment/2));
                    ProvinceMap.MapCTX.lineTo(xy.x*radius * Math.sin(angle+angleFragment), xy.y*radius * Math.cos(angle+angleFragment));
                    ProvinceMap.MapCTX.lineTo(xy.x*(radius-initRadius) * Math.sin(angle+angleFragment), xy.y*(radius-initRadius) * Math.cos(angle+angleFragment));
                    ProvinceMap.MapCTX.lineTo(xy.x*(radius-initRadius) * Math.sin(angle), xy.y*(radius-initRadius) * Math.cos(angle));
                    ProvinceMap.MapCTX.closePath();
                    if(this.lowResources) {

                        ProvinceMap.MapCTX.fillStyle = this.lowResources;
                    }
                    ProvinceMap.MapCTX.fill();
                    ProvinceMap.MapCTX.strokeStyle = ProvinceMap.StrokeColor;
                    ProvinceMap.MapCTX.stroke();
                }

                drawHex = function (sector, x, y, width, height) {
                    let pointers = width / 4;
                    let topBottomWidth = width / 2;
                    ProvinceMap.MapCTX.beginPath();
                    ProvinceMap.MapCTX.moveTo(x - pointers, y - (height / 2));
                    ProvinceMap.MapCTX.lineTo(x + pointers, y - (height / 2));
                    ProvinceMap.MapCTX.lineTo(x + topBottomWidth, y);
                    ProvinceMap.MapCTX.lineTo(x + pointers, y + (height / 2));
                    ProvinceMap.MapCTX.lineTo(x - pointers, y + (height / 2));
                    ProvinceMap.MapCTX.lineTo(x - topBottomWidth, y);
                    ProvinceMap.MapCTX.lineTo(x - pointers, y - (height / 2));
                    ProvinceMap.MapCTX.closePath();
                    if(sector.lowResources) {

                        ProvinceMap.MapCTX.fillStyle = sector.lowResources;
                    }
                    ProvinceMap.MapCTX.fill();
                    ProvinceMap.MapCTX.stroke();
                }

                // Implementation
                let provinces = [];

                function init() {
                    // round map
                    let angle = Math.PI/2; // 90°
                    let rotator = 0;
                    let radius = ProvinceMap.Size.width/8;
                    let initRadius = radius;

                    battleground.provinces.forEach(function (i) {
                        const pD = battleground.provinces[i.data.provinceId];
                        let data = {
                            id: i.data.provinceId,
                            name: pD.data.name,
                            short: pD.data.short,
                            links: pD.data.connections,
                            flag: pD.data.flag,
                            lowResources: pD.computedData.lowResources
                        };
                        if (pD.ownerId) {
                            data.ownerID = pD.ownerId;
                            let clan = battleground.participants.find(c => c.participantId === pD.ownerId);
                            data.ownerName = clan.name;
                            data.flagImg = clan.flag.toLowerCase();
                            data.isSpawnSpot = false;
                            if (pD.isSpawnSpot) {
                                data.isSpawnSpot = true;
                            }
                        }

                        if (pD.slots)
                            data.slots = pD.slots;

                        if (rotator >= Math.PI*2) {
                            rotator = 0;
                            angle = angle/2;
                            radius = initRadius+radius;
                        }
                        data.circlePosition = {
                            radius: radius,
                            initRadius: initRadius,
                            angle: rotator,
                            angleFragment: angle
                        };
                        rotator += angle;

                        provinces.push(new Province(data));
                    });

                    ProvinceMap.Provinces = provinces;
                }

                init();

                ProvinceMap.BuildMap();
            },

            /**
             * Build the Canvas
             *
             * @constructor
             */
            BuildMap: () => {
                ProvinceMap.MapCTX.clearRect(0, 0, ProvinceMap.Size.width, ProvinceMap.Size.height);
                const provinces = ProvinceMap.Provinces;

                provinces.forEach(province => {
                    province.updateMapSector();
                });
            },


            hexToRgb: (hex, alpha) => {
                hex = hex.trim();
                hex = hex[0] === '#' ? hex.substr(1) : hex;

                let bigint = parseInt(hex, 16), h = [];

                if (hex.length === 3) {
                    h.push((bigint >> 4) & 255);
                    h.push((bigint >> 2) & 255);

                } else {
                    h.push((bigint >> 16) & 255);
                    h.push((bigint >> 8) & 255);
                }

                h.push(bigint & 255);

                if (alpha) {
                    h.push(alpha);
                    return 'rgba(' + h.join(',') + ')';

                } else {
                    return 'rgb(' + h.join(',') + ')';
                }
            },
        }

        ProvinceMap.prepare();
    });
</script>
{% endblock %}