{% extends 'default/index.html.twig' %}
{% block body %}
    <h1>GPC</h1>
    {% include 'default/_battleground.html.twig' with {'data': stats} %}
    <h1>Statystyki Graczy</h1>
    <div id="table-scroll" class="table-sortable table-responsive">
        <table class="table table-bordered table-striped table-hover table-dark  table-sm">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Gracz
                </th>
                {% for key,label in data.labels %}
                    <th>{{ label|format_date('long') }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for rank,player in data.datasets %}
                <tr>
                    <td>
                        {{ rank+1 }}
                    </td>

                    <th>
                        {% if player.id is defined %}
                            <a style="color: {{ player.backgroundColor }}" href="{{ path('players_view', {'id': player.id}) }}">{{ player.label }}</a>
                        {% else %}
                            <span style="color: {{ player.backgroundColor }}">{{ player.label }}</span>
                        {% endif %}
                    </th>
                    {% for k,dd in player.data %}
                        <td data-order="{{ dd['score'] }}">
                            {% if  data  is same as(0)  %}
                                {{ dd|format_value(k, player.data, 'battleground', data.labels)|raw }}
                            {% elseif data > 0 %}
                                {{ dd|format_value(k, player.data, 'battleground', data.labels)|raw }}
                            {% else %}
                                --
                            {% endif %}

                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}