{% extends 'default/index.html.twig' %}
{% block body %}
    <h1>GPC</h1>
    <div class="card text-white bg-dark">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md">
                    {{ form_row(form.dateFrom) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.dateTo) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    {{ form_row(form.points) }}
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-primary float-right">Filtruj</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <hr>
    <div id="table-scroll" class="table-sortable table-responsive">
    <table class="table table-bordered table-striped table-hover table-dark  table-sm">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Gracz
            </th>
            {% for key,label in data.labels %}
                <th>{{ label|format_date('long') }} <a href="{{ path('page_battlegrounds_detail', {'id': data.ids[key]}) }}" class="btn btn-link">Szczegóły</a></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for rank,player in data.datasets %}
            <tr>
                {% set lastRow = loop.last %}
                <td>
                    {{ rank+1 }}
                </td>

                <th>
                    {% if player.id is defined %}
                        <a style="color: {{ player.backgroundColor }}" href="{{ path('players_view', {'id': player.id}) }}">{{ player.label }}</a>
                    {% else %}
                        <span style="color: {{ player.backgroundColor }}">{{ player.label }}</span>
                    {% endif %}
                </th>
            {% for k,dd in player.data %}
                <td data-order="{{ dd['score'] }}">
                    {% if  data  is same as(0)  %}
                        {{ dd|format_value(k, player.data, 'battleground', data.labels, lastRow)|raw }}
                    {% elseif data > 0 %}
                        {{ dd|format_value(k, player.data, 'battleground', data.labels, lastRow)|raw }}
                    {% else %}
                        --
                    {% endif %}

                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <h1>Wykres</h1>
    {{ render_chart(chart, {'data-controller': 'mychart'}) }}
{% endblock %}