{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html>
    <head>
    </head>
    <body>
    <p id="docs-internal-guid-1ff3239e-7fff-c5b8-bf55-4d35eede2718" dir="ltr">Jako Gildia mamy do zaoferowania dobrą atmosferę, wysoką pozycję w rankingu gildii, dodatkowe Punkty Rozwoju z ratusza, pomoc w handlu, rozwoju miasta, wsparciu informacją i radami, wsparciu przy podnoszeniu 80-tego poziomu Arki. Jednocześnie od członk&oacute;w Gildii oczekujemy:</p>
    <ul>
        <li dir="ltr">
            <p dir="ltr" role="presentation"><strong>aktywności</strong> - okazywanej wspieraniem motywacją pozostałych członk&oacute;w Gildii oraz jakimikolwiek przejawami obecności w grze i rozwijaniu miasta. Osoby, kt&oacute;rych nieobecność* jest dłuższa niż 7 dni, mogą zostać usunięte z Gildii jako nieaktywne (poza uzasadnionymi przypadkami). Aktywność w postaci uczestnictwa w wątkach oraz dyskusjach gildyjnych jest mile widziana, acz nie wymagana</p>
        </li>
        <li dir="ltr">
            <p dir="ltr" role="presentation"><strong>rozwoju miasta</strong> - wymagane minimum to 1212 punkt&oacute;w w rankingu/tydzień</p>
        </li>
        <li dir="ltr">
            <p dir="ltr" role="presentation"><strong>wspieranie rusztowań</strong> - każdy członek Gildii ma prawo oczekiwać wsparcia od pozostałych Gildian przy podnoszeniu rusztowań swojej Perły. Perłę taką należy wstawić do przeznaczonego wyłącznie na ten cel wątku &ldquo;Rusztowania&rdquo; (i nigdzie indziej). Pozostali członkowie Gildii są zobowiązani do wsparcia rusztowań minimum 1 punktem rozwoju. Osoby uchylające się od tego obowiązku mogą zostać usunięte z Gildii. Wstawianie do w/w wątku Perły na poziomie wyższym niż rusztowanie jest nieakceptowane.</p>
        </li>
        <li dir="ltr">
            <p dir="ltr" role="presentation"><strong>uczciwego handlu</strong> - w wątku Handel można wystawiać oferty jedynie w stosunku:</p>
            <ul>
                <li dir="ltr">
                    <p dir="ltr" role="presentation">1:1 - towary z tej samej epoki <em>(np. 100 kamienia za 100 marmuru)</em></p>
                </li>
                <li dir="ltr">
                    <p dir="ltr" role="presentation">1:2 - towary z wyższej epoki za towary z niższej epoki <em>(np. 100 żelaza za 200 marmuru)</em></p>
                </li>
                <li dir="ltr">
                    <p dir="ltr" role="presentation">2:1 - towary z niższej epoki za towary z wyższej epoki <em>(np. 100 marmuru za 50 żelaza)</em></p>
                </li>
            </ul>
        </li>
        <li dir="ltr">
            <p dir="ltr" role="presentation"><strong>uczestnictwa w Wyprawach Gildyjnych</strong> - wymagane jest rozwiązanie minimum 32 konflikt&oacute;w (2 poziom Wypraw)</p>
        </li>
        <li dir="ltr">
            <p dir="ltr" role="presentation"><strong>uczestnictwa w Gildyjnych Polach Chwały</strong> - wymagane jest minimum 150 punkt&oacute;w postępu do osiągnięcia dowolnymi metodami - walką lub negocjacją.
                Do poniedziałku należy zdobyć 75 pkt. Każda walka to 1 punkt postępu, a każda negocjacja to 2 punkty postępu. Liczbę uzyskanych punkt&oacute;w łatwo sprawdzić sumując liczbę walk i pomnożoną przez 2 liczbę negocjacji - <em>np. jeżeli podjęto 15 walk i 7 negocjacji, to liczba punkt&oacute;w postępu wynosi 15+2*7=15+14=29, a zatem nie osiągnięto wymaganego minimum</em></p>
        </li>
        <li dir="ltr">
            <p dir="ltr" role="presentation"><strong>kultury osobistej i szacunku wobec innych członk&oacute;w Gildii</strong> - wulgarne, lub uporczywie niekulturalne zachowanie może być powodem usunięcia z Gildii</p>
        </li>
        <li dir="ltr">
            <p dir="ltr" role="presentation"><strong>przestrzegania następujących zasad:</strong></p>
            <ul>
                <li dir="ltr">
                    <p dir="ltr" role="presentation">nie wolno zamykać poziomu Perły bez zgody jej właściciela</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr" role="presentation"><span style="text-decoration: underline;">nieobecność</span> nie pozwalającą na aktywne uczestnictwo w grze, zwłaszcza w Wyprawach Gildyjnych i Gildyjnych Polach Chwały <span style="text-decoration: underline;">należy zgłosić</span> Założycielowi lub Liderom Gildii - taka osoba do czasu powrotu do gry jest chroniona przed usunięciem z Gildii za brak spełnionych wymagań</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr" role="presentation">wszelkie <span style="text-decoration: underline;">konflikty</span> pomiędzy członkami Gildii należy rozwiązywać w rozmowach prywatnych, a w razie braku porozumienia - <span style="text-decoration: underline;">zgłaszać</span> Założycielowi lub Liderom Gildii</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr" role="presentation">uczestnictwo w Tasiemcach nie jest obowiązkowe, jeśli jednak członek Gildii zdecyduje się na udział w tych wątkach, zobowiązany jest do przestrzegania zasad w postaci uczciwego wpłacania stosownej - określonej w tytule Tasiemca - liczby Punkt&oacute;w Rozwoju do Perły wystawionej przed jego własną, oraz ma prawo oczekiwać, że następny uczestnik Tasiemca postąpi podobnie z jego Perłą</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr" role="presentation">w wątku Końc&oacute;wki Pereł należy wystawiać Perły, kt&oacute;rym brakuje niewielkiej liczby Punkt&oacute;w Rozwoju do zakończenia poziomu, bądź takie, w kt&oacute;rych wolne są miejsca nie premiowane zwrotami w postaci Punkt&oacute;w Rozwoju - w tym wątku obowiązuje zasada &ldquo;kto pierwszy, ten lepszy&rdquo; i nie ma obowiązku deklarowania się na konkretne miejsca, nie ma też obowiązku inwestowania określonej liczby Punkt&oacute;w Rozwoju, chyba, że właściciel Perły postanowi inaczej. W tym wątku r&oacute;wnież obowiązuje zasada, według kt&oacute;rej nie wolno zamykać Perły bez zgody Właściciela</p>
                </li>
                <li dir="ltr">
                    <p>wątki założone z określonym przeznaczeniem (np. Tasiemce, Wrzutki 1,9 itd) służą tym właśnie celom - w przypadku przedłużania się rozm&oacute;w niezwiązanych z przeznaczeniem wątku należy przenieść dyskusję do gł&oacute;wnego wątku gildyjnego, kt&oacute;ry z założenia służy do nieskrępowanych dyskusji o wszystkim<br /><br /></p>
                </li>
            </ul>
        </li>
    </ul>
    <h4 dir="ltr" style="text-align: right;"><span style="text-decoration: underline;">Autor: Zoja Zachwycająca</span></h4>
    </body>
    </html>
{% endblock %}