{% extends 'base.html.twig' %}
{% block body %}
    <h1>Statystyki</h1>
    <div id="table-scroll" class="table-sortable table-responsive">
    <table class="table table-bordered table-striped table-hover table-dark  table-sm">
        <thead>
            <tr>
                <th>
                    Data
                </th>
                <th>
                    Potencjał
                </th>
                <th>
                    Ranking ogólny
                </th>
                <th>
                    Bonus do prestiżu
                </th>
                <th>
                    Poziom
                </th>
            </tr>
        </thead>
        <tbody>
        {% for i,item in data %}
            <tr>

                <td data-order="{{ item.createdAt|date('U') }}">
                    {{ item.createdAt|format_date('long') }}
                </td>
                <td data-order="{{ item|format_guild_value(i, 'score', data, true) }}">
                    {{ item|format_guild_value(i, 'score', data)|raw }}
                </td>
                <td data-order="{{ item|format_guild_value(i, 'rank', data, true) }}">
                    {{ item|format_guild_value(i, 'rank', data)|raw }}
                </td>
                <td data-order="{{ item|format_guild_value(i, 'prestige', data, true) }}">
                    {{ item|format_guild_value(i, 'prestige', data)|raw }}
                </td>
                <td data-order="{{ item|format_guild_value(i, 'level', data, true) }}">
                    {{ item|format_guild_value(i, 'level', data)|raw }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}