{% extends 'base.html.twig' %}

{% block body %}
    <div class="card text-white bg-dark">
        <div class="card-body">
            {% for type, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ type }} mb-3">
                        {{ flash|trans }}
                    </div>
                {% endfor %}
            {% endfor %}

            <a href="{{ path('import_process', {'start': 1}) }}" class="btn btn-primary">Importuj</a>
        </div>
    </div>
{% endblock %}