{% extends 'base.html.twig' %}

{% block body %}
    <div class="card text-white bg-dark">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary float-right">Filtruj</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}