{% extends 'base.html.twig' %}
{% block body %}
    <h1>Statystyki</h1>
    <div class="card text-white bg-dark">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md">
                    {{ form_row(form.dateFrom) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.dateTo) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.sort) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.current) }}
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-primary float-right">Filtruj</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <hr>
    <div id="table-scroll" class="table-sortable table-responsive">
    <table class="table table-bordered table-striped table-hover table-dark  table-sm">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Gracz
            </th>
            {% for label in data.labels %}
                <th>{{ label|format_date('long') }}</th>
            {% endfor %}
            <th class="bg-secondary">
                Średnia
            </th>
        </tr>
        </thead>
        <tbody>
        {% for rank,player in data.datasets %}
            <tr>

                <td data-toggle="popover" data-popover-content="#p-{{ rank }}">
                    {{ rank+1 }}
                </td>
                <th>
                    {% if player.id is defined %}
                        <a style="color: {{ player.backgroundColor }}" href="{{ path('players_view', {'id': player.id}) }}">{{ player.label }}</a>
                    {% else %}
                        <span style="color: {{ player.backgroundColor }}">{{ player.label }}</span>
                    {% endif %}
                </th>
            {% for k,data in player.data %}
                <td data-order="{{ form.sort.vars.value=='points'?data|format_value(k, player.data, 'statistic', null, false, true):data }}">
                    {% if  data %}
                    {{ data|format_value(k, player.data, 'statistic')|raw }}
                    {% else %}
                        --
                    {% endif %}
                </td>
            {% endfor %}
                <td class="bg-secondary" data-order="{{ player.data|format_value(null, player.data, 'statistic', data.labels, true, true)|raw }}">
                    {{ player.data|format_value(null, player.data, 'statistic', data.labels, true)|raw }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="popovers">
        {% for rank,player in data.datasets %}
            <div id="p-{{ rank }}" style="display:none;">
                <div class="popover-heading"><strong>{{ player.label }}</strong></div>
                <div class="popover-body">
                    {% if player.additionalData %}
                    ID: <strong>{{ player.additionalData.player_id }}</strong><br>
                    Tytuł: <strong>{{ player.additionalData.title|default(' ') }}</strong><br>
                    Nazwa miasta: <strong>{{ player.additionalData.city_name|default(' ') }}</strong><br>
                    Tekst profilowy: <strong>{{ player.additionalData.profile_text|default(' ') }}</strong>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    <h1>Wykres</h1>
    {{ render_chart(chart, {'data-controller': 'mychart'}) }}
{% endblock %}