{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ stat.name }}</h1>
    <h3>{{ stat.from|format_datetime }} - {{ stat.to|format_datetime }} ({{ stat.diff }})</h3>
    <div id="table-scroll" class="table-responsive">
        <table class="table table-bordered table-dark table-sm">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Gracz
                </th>
                <th>
                    Walki
                </th>
                <th>
                   Walki/Sec
                </th>
            </tr>
            </thead>
            <tbody>
            {% for d in stat.diffData %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ d.name }}</td>
                    <td>{{ d.diff }}</td>
                    <td>{{ d.perSec|format_number }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <textarea rows="15" class="form-control">{{ stat.name }}
{{ stat.from|format_datetime }} - {{ stat.to|format_datetime }} ({{ stat.diff }})

{% for d in stat.diffData %}{{ loop.index }}. {{ d.name }} +{{ d.diff }} {{ d.perSec|format_number }}walki/sec
{% endfor %}</textarea>
{% endblock %}