{% extends 'base.html.twig' %}
{% block body %}
    <h1>Historia walk gildii</h1>
    <div id="table-scroll" class="table-responsive">
        <table class="table table-bordered table-dark table-sm">
            <thead>
            <tr>
                <th>
                    Gildia
                </th>
                <th>
                    Od
                </th>
                <th>
                    Do
                </th>
                <th>
                    Szczegóły
                </th>
            </tr>
            </thead>
            <tbody>
            {% for stat in stats %}
                <tr>
                    <td>{{ stat.stats.currentData.name }}</td>
                    <td>{{ stat.stats.prevData.timestamp|number_format(0, '', '')|format_datetime }}</td>
                    <td>{{ stat.stats.currentData.timestamp|number_format(0, '', '')|format_datetime }}</td>
                    <td><a href="{{ path('other_guild_stats_view', {'id': stat.id })}}">Zobacz</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagerfanta(stats) }}
{% endblock %}