{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ entity.name }}{% endblock %}
{% block body %}
    <div class="card text-white bg-dark my-4">
        <div class="card-header"><h1>{{ entity.name }}</h1></div>
        <div class="card-body">
            {{ entity.content|raw }}
        </div>
    </div>
{% endblock %}