{% extends 'base.html.twig' %}
{% block body %}
    {% set sumBattles = 0 %}
    {% for nr,era in allEras %}
        {% set sumBattles = sumBattles + destinationEras[nr]|map(p => p.getLastBattleStatsDiff)|sum|default(0) %}
    {% endfor %}
    <div id="table-scroll" class="table-responsive">
    <table class="table table-bordered table-dark  table-sm">
        <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Epoka
            </th>
            <th>
                Docelowa epoka
            </th>
            <th>
                Walki
            </th>
        </tr>
        </thead>
        {% for nr,era in allEras %}
            <thead>
            <tr style="background-color: #5a1c58">
                <th>{{ ('era.i'~nr)|trans}}</th>
                <th>{{ eras[nr]|default([])|length }} ({{ ((eras[nr]|default([])|length/sum)*100)|round(2) }}%)</th>
                <th>{{ destinationEras[nr]|default([])|length }} ({{ ((destinationEras[nr]|default([])|length/sum)*100)|round(2) }}%)</th>
                <th>{{ destinationEras[nr]|map(p => p.getLastBattleStatsDiff)|sum|default(0)|number_format(0) }} ({{ ((destinationEras[nr]|map(p => p.getLastBattleStatsDiff)|sum|default(0)/sumBattles)*100)|round(2) }}%)</th>
            </tr>
            </thead>
        {% endfor %}
        {% for nr,era in allEras %}
            <tbody>
                <tr style="background-color: #323232">
                    {% if destinationEras[nr] is defined and destinationEras[nr][0] is defined %}
                    <th colspan="4">{{ ('era.i'~(destinationEras[nr][0].destinationEra)|default(destinationEras[nr][0].era))|trans }}</th>
                    {% else %}
                        <th colspan="4">{{ ('era.i'~(eras[nr][0].era))|trans }}</th>
                    {% endif %}
                </tr>
                {% for player in era %}
                    <tr style="background-color: {{ player.era.getRGBAColor }}">
                        <td>
                            {% if player.id is defined %}
                                <a style="color: {{ player.color }}" href="{{ path('players_view', {'id': player.id}) }}">{{ player }}</a>
                            {% else %}
                                <span style="color: {{ player.color }}">{{ player }}</span>
                            {% endif %}
                        </td>
                        <td data-order="{{ player.era }}">
                            {{ ('era.i'~player.era)|trans }}
                        </td>
                        <td data-order="{{ player.destinationEra }}">
                            {% if player.destinationEra and player.destinationEra != player.era %}
                                <strong>{{ ('era.i'~player.destinationEra|default(player.era))|trans }}</strong>
                            {% else %}
                                {{ ('era.i'~player.destinationEra|default(player.era))|trans }}
                            {% endif %}
                        </td>
                        <td>{{ player.getLastBattleStatsDiff|default(0)|number_format(0) }} (Epoka: {{ ((player.getLastBattleStatsDiff|default(0)/destinationEras[nr]|map(p => p.getLastBattleStatsDiff)|sum|default(0))*100)|round(2) }}%) (Suma: {{ ((player.getLastBattleStatsDiff|default(0)/sumBattles)*100)|round(2) }}%)</td>
                    </tr>
                {% endfor %}
                <tr style="background-color: #323232">
                    <th>Liczba graczy</th>
                    <th>{{ eras[nr]|default([])|length }} ({{ ((eras[nr]|default([])|length/sum)*100)|round(2) }}%)</th>
                    <th>{{ destinationEras[nr]|default([])|length }} ({{ ((destinationEras[nr]|default([])|length/sum)*100)|round(2) }}%)</th>
                    <th>{{ destinationEras[nr]|map(p => p.getLastBattleStatsDiff)|sum|default(0)|number_format(0) }} ({{ ((destinationEras[nr]|map(p => p.getLastBattleStatsDiff)|sum|default(0)/sumBattles)*100)|round(2) }}%)</th>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    </div>
{% endblock %}