{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ player }}{% endblock %}
{% block body %}
    <div class="card text-white bg-dark">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md">
                    {{ form_row(form.dateFrom) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.dateTo) }}
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-primary float-right">Filtruj</button>
                </div>
            </div>
            {{ form_end(form) }}
            <div>
                <h5>GPC</h5>
                {% for gpc in gpcs %}
                    <a class="btn btn-sm btn-primary mb-1{% if gpc['dateFrom']|date('Y-m-d') == app.request.query.get('dateFrom')|default(form.dateFrom.vars.data|date('Y-m-d'))  %} active{% endif %}" href="{{ path('players_view', {'id': player.id, 'dateFrom': gpc['dateFrom']|date('Y-m-d'), 'dateTo': gpc['dateTo']|date('Y-m-d')}) }}">{{ gpc['dateFrom']|date('Y-m-d') }} - {{ gpc['dateTo']|date('Y-m-d') }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <div class="card text-white bg-dark">
        <div class="card-header"><h1>{{ player }}</h1></div>
        <div class="card-body">
            {% include 'default/_user_stats.html.twig' with {'data': stats} %}
        </div>
        <div class="card-body">
            {% include 'default/_data_logs.html.twig' %}
        </div>
        <div class="card-body">
            <h1>Produkcja budynków</h1>
            {% include 'default/_resources.html.twig' with {'data': productions} %}
        </div>
    </div>
{% endblock %}