{% extends 'base.html.twig' %}
{% block body %}
    <h1>Skarbiec</h1>
    <div class="card text-white bg-dark">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md">
                    {{ form_row(form.dateFrom) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.dateTo) }}
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-primary float-right">Filtruj</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <hr>
    <h1>Historia skarbca</h1>
    {% include 'default/_resources.html.twig' %}
    <h1>Wykres</h1>
    {{ render_chart(chart, {'data-controller': 'mychart'}) }}
{% endblock %}