{% extends 'base.html.twig' %}
{% block body %}
    <h1>Skarbiec - GPC</h1>
    <div class="card text-white bg-dark">
        <div class="card-body">
            {% for gpc in gpcs %}
                <div class="btn-group mb-1 mr-2" role="group" aria-label="First group">
                    <a class="btn btn-sm btn-primary{% if gpc['dateFrom']|date('Y-m-d') == app.request.query.get('dateFrom')|default(form.dateFrom.vars.data|date('Y-m-d'))  %} active{% endif %}" href="{{ path('page_resources_gpc', {'dateFrom': gpc['dateFrom']|date('Y-m-d'), 'dateTo': gpc['dateTo']|date('Y-m-d')}) }}" title="{{ gpc['dateFrom']|date('Y-m-d') }} - {{ gpc['dateTo']|date('Y-m-d') }}">
                        {{ gpc['dateFrom']|date('Y-m-d') }}
                    </a>
                    {% if gpc.battleground %}
                    <a class="btn btn-sm btn-primary" href="{{ path('battleground_map', {'id': gpc.battleground.id}) }}">
                        <i class="fa fa-map"></i>
                    </a>
                    <a class="btn btn-sm btn-primary" href="{{ path('battleground_buildings_cost', {'id': gpc.battleground.id}) }}">
                        <i class="fa fa-chart-area"></i>
                    </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    {% if battleground %}
    <h1>Podsumowanie</h1>
    {% include 'default/_battleground.html.twig' with {'data': battleground} %}
    <hr>
    {% endif %}
    {% include 'default/_data_logs.html.twig' %}
    <hr>
    <h1>Wpływy do skarbca wg graczy</h1>
    <div id="table-scroll" class="table-sortable table-responsive">
        <table class="table table-bordered table-dark  table-sm">
            <thead>
                <tr>
                    <th>Gracz</th>
                    <th>Produkcja</th>
                    <th>Medale</th>
                    {% for key,era in (dataLogsUsers|first).eras %}
                        <th title="{{ ('era.i'~key)|trans }}">{{ ('era_short.i'~key)|trans }}</th>
                    {% endfor %}
                    <th class="bg-secondary">Suma wpłat</th>
                </tr>
            </thead>
            <tbody>
                {% for name,data in dataLogsUsers %}

                    <tr>
                        <th>
                            {% if data.id is defined %}
                                <a style="color: {{ data.color }}" href="{{ path('players_view', {'id': data.id}) }}">{{ name }}</a>
                            {% else %}
                                <span style="color: {{ data.color }}">{{ name }}</span>
                            {% endif %}
                        </th>
                        <td data-order="{{ data['p'] }}">{{ data['p']|number_format(0) }}</td>
                        <td data-order="{{ data['medals'] }}">{{ data['medals']|number_format(0) }}</td>
                        {% for era in data.eras %}
                        <td data-order="{{ era }}">{{ era|number_format(0) }}</td>
                        {% endfor %}
                        <td data-order="{{ data.eras|sum }}" class="bg-secondary">{{ data.eras|sum|number_format(0) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if app.debug %}
        <div class="card text-white bg-dark">
            <div class="card-body">
                Podsumowanie skarbca: <br>
                {% set datas = [] %}
                {% for i in range(1, eraRep.getLastNumber) %}
                    {% set era = 'era.i'~i %}
                    {% if dataLogs[era] is defined %}
                        {% set sumIn = dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_TREASURY')]['amount']|default(0)+dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_PRODUCTION')]['amount']|default(0)+dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GVG_REMOVE_SECTOR')]['amount']|default(0)  %}
                        {% set sumOut = dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GPC_BUILDING')]['amount']|default(0)+dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GVG_ARMY')]['amount']|default(0)+
                            dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GVG_SECTOR')]['amount']|default(0)+dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_WG')]['amount']|default(0)  %}
                        {% set bilans = sumIn+sumOut %}
                        {% if bilans < 0 %}
                            {% set datas = datas|merge([{ title: era|trans, bilans: bilans}]) %}
                            {% for resource in dataLogs[era]['resources']['sum']|sort((a, b) => b.amount <=> a.amount) %}
                                {% set datas = datas|merge([{ title: '- '~resource.name, bilans: resource.amount}]) %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for data in datas|filter(v => v.bilans < 0) %}
                    {{ data.title }}: {{ data.bilans|number_format(0) }}<br>
                {% endfor %}
            </div>
            <div class="card-body">
                Wpłaty: <br>
                {% for name,data in dataLogsUsers|filter(v => v.eras|sum >= 1000)|sort((a, b) => b.eras|sum <=> a.eras|sum) %}
                    {{ name }}: {% for key,era in data.eras|filter(v => v > 0) %}
                    {{ ('era_pl.i'~key)|trans }}: {{ era|number_format(0) }}{% if data.eras|filter(v => v > 0)|length > 1 %}, {% endif %}
                {% endfor %}
                    {% if data.eras|filter(v => v > 0)|length > 1 %}Suma: {{ data.eras|sum|number_format(0) }}{% endif %}<br>
                {% endfor %}
                Suma wpłat: {{ dataLogsUsers|column('eras')|map(p => p|sum)|sum|number_format(0) }}<br>
            </div>
        </div>
    {% endif %}
{% endblock %}