{% extends 'base.html.twig' %}
{% block body %}
    <h1>GPC</h1>
    <div class="card text-white bg-dark">
        <div class="card-body">
            {% for gpc in gpcs %}
                <a class="btn btn-sm btn-primary mb-1{% if gpc['dateFrom']|date('Y-m-d') == app.request.query.get('dateFrom')|default(form.dateFrom.vars.data|date('Y-m-d'))  %} active{% endif %}" href="{{ path('page_resources_gpc_cost', {'dateFrom': gpc['dateFrom']|date('Y-m-d'), 'dateTo': gpc['dateTo']|date('Y-m-d')}) }}">{{ gpc['dateFrom']|date('Y-m-d') }} - {{ gpc['dateTo']|date('Y-m-d') }}</a>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div id="table-scroll" class="table-sortable table-responsive">
        <table class="table table-bordered table-dark  table-sm">
            <thead>
            <tr>
                <th>Epoka</th>
                <th>GPC - Budynek (Koszt)</th>
                <th>Gracze</th>
                <th>Budynki GPC</th>
                <th>Stosunek towarów do liczby graczy</th>
            </tr>
            </thead>
            <tbody>
            {% for i in dataLogs|keys %}
                {% set era = i %}
                {% if dataLogs[era] is defined %}
                    <tr style="background-color: {{ dataLogs[era].color }}">
                        <th data-order="{{ i }}">{{ era|trans }}</th>
                        <td data-order="{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GPC_BUILDING')]['amount']|default(0) }}">{{ dataLogs[era][constant('App\\Entity\\GuildTreasury::ACTION_GPC_BUILDING')]['amount']|default(0)|number_format(0) }}</td>
                        <td data-order="{{ dataLogs[era]['costP']|default(0) }}">{{ dataLogs[era]['costP']|default(0)|number_format }}%</td>
                        <td data-order="{{ dataLogs[era]['costG']|default(0) }}">{{ dataLogs[era]['costG']|default(0)|number_format }}%</td>
                        <td data-order="{{ dataLogs[era]['costP']?dataLogs[era]['costG']|default(0)/dataLogs[era]['costP']|default(0)*100:0 }}">{{ (dataLogs[era]['costP']?dataLogs[era]['costG']|default(0)/dataLogs[era]['costP']|default(0)*100:0)|number_format }}%</td>

                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}