{% extends 'base.html.twig' %}
{% block body %}
    <h1>Skarbiec</h1>
    <div class="card text-white bg-dark">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md">
                    {{ form_row(form.dateFrom) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.dateTo) }}
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-primary float-right">Filtruj</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <hr>
    {% include 'default/_data_logs.html.twig' %}
    <hr>
    <h1>Wpływy do skarbca wg graczy</h1>
    <div id="table-scroll" class="table-sortable table-responsive">
        <table class="table table-bordered table-dark  table-sm">
            <thead>
                <tr>
                    <th>Gracz</th>
                    <th>Produkcja</th>
                    <th>Medale</th>
                    {% for key,era in (dataLogsUsers|first).eras %}
                        <th>{{ ('era_short.i'~key)|trans }}</th>
                    {% endfor %}
                    <th class="bg-secondary">Suma wpłat</th>
                </tr>
            </thead>
            <tbody>
                {% for name,data in dataLogsUsers %}
                    {% set sum = data['lt13']|default(0)+data['eq13']|default(0)+data['gt13']|default(0) %}

                    <tr>
                        <th>
                            {% if data.id is defined %}
                                <a style="color: {{ data.color }}" href="{{ path('players_view', {'id': data.id}) }}">{{ name }}</a>
                            {% else %}
                                <span style="color: {{ data.color }}">{{ name }}</span>
                            {% endif %}
                        </th>
                        <td data-order="{{ data['p'] }}">{{ data['p']|number_format(0) }}</td>
                        <td data-order="{{ data['medals'] }}">{{ data['medals']|number_format(0) }}</td>
                        {% for era in data.eras %}
                            <td data-order="{{ era }}">{{ era|number_format(0) }}</td>
                        {% endfor %}
                        <td data-order="{{ data.eras|sum }}" class="bg-secondary">{{ data.eras|sum|number_format(0) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}