{% extends 'base.html.twig' %}
{% block body %}
    <h1>Ilość Oblegów</h1>
    <div class="card text-white bg-dark">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md">
                    {{ form_row(form.dateFrom) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.dateTo) }}
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-primary float-right">Filtruj</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div id="table-scroll" class="table-sortable table-responsive">
        <table class="table table-bordered table-dark  table-sm">
            <thead>
                <tr>
                    <th>Gracz</th>
                    {% for key,era in (oblegiDataLogsUsers|first).eras %}
                        <th>{{ ('era_short.i'~key)|trans }}</th>
                    {% endfor %}
                    <th>{{ ('era_short.i13')|trans }}</th>
                    <th>Zima</th>
                    <th class="bg-secondary">Suma</th>
                </tr>
            </thead>
            <tbody>
                {% set eq13 = 0 %}
                {% set gt13 = 0 %}
                {% for name,data in oblegiDataLogsUsers %}
                    {% set sum = data.eras|sum|default(0)+data['eq13']|default(0)+data['gt13']|default(0) %}
                    {% set eq13 = eq13 + data['eq13']|default(0) %}
                    {% set gt13 = gt13 + data['gt13']|default(0) %}
                    <tr>
                        <th>
                            {% if data.id is defined %}
                                <a style="color: {{ data.color }}" href="{{ path('players_view', {'id': data.id}) }}">{{ name }}</a>
                            {% else %}
                                <span style="color: {{ data.color }}">{{ name }}</span>
                            {% endif %}
                        </th>
                        {% for era in data.eras %}
                            <td data-order="{{ era }}">{{ era|number_format(0) }}</td>
                        {% endfor %}
                        <td data-order="{{ data['eq13'] }}">{{ data['eq13']|number_format(0) }}</td>
                        <td data-order="{{ data['gt13'] }}">{{ data['gt13']|number_format(0) }}</td>
                        <td data-order="{{ sum }}" class="bg-secondary">{{ sum|number_format(0) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="bg-secondary">
                    <th>Suma</th>
                    {% for key,era in (oblegiDataLogsUsers|first).eras %}
                        <th>{{  (oblegiDataLogsUsers|column('eras')|column(key)|sum|number_format(0))  }}</th>
                    {% endfor %}
                    <th>{{ eq13|number_format(0) }}</th>
                    <th>{{ gt13|number_format(0) }}</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}