{% extends 'base.html.twig' %}
{% block body %}
    <div class="card text-white bg-dark">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md">
                    {{ form_row(form.dateFrom) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.dateTo) }}
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-primary float-right">Filtruj</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <hr>
    <div class="card text-white bg-dark">
        <div class="card-header"><h1>Produkcja budynków</h1></div>
        <div class="card-body">
            {% include 'default/_resources.html.twig' with {'data': productions} %}
        </div>
    </div>
{% endblock %}