{% extends 'base.html.twig' %}
{% block body %}
    <h1>Skarbiec</h1>
    <div class="card text-white bg-dark">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md">
                    {{ form_row(form.action) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.player) }}
                </div>
                <div class="col-md">
                    {{ form_row(form.era) }}
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-primary float-right">Filtruj</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <hr>
    <div id="table-scroll" class="table-responsive">
        <table class="table table-bordered table-dark table-sm">
            <thead>
            <tr>
                <th>
                    Gracz
                </th>
                <th>
                    Towar
                </th>
                <th>
                    Ilość
                </th>
                <th>
                    Akcja
                </th>
                <th>
                    Epoka
                </th>
                <th>
                    Data
                </th>
            </tr>
            </thead>
            <tbody>
            {% for guildTreasury in guildTreasuries %}
                {% set lastRow = loop.last %}
                <tr style="background-color: {{ guildTreasury.resource.era.getRGBAColor }}">
                    <td data-order="{{ guildTreasury.player.id }}">
                        <a style="color: {{ guildTreasury.player.color }}" href="{{ path('players_view', {'id': guildTreasury.player.id}) }}">{{ guildTreasury.player.name }}</a>
                    </td>
                    <td data-order="{{ guildTreasury.resource.id }}">
                        <img  height="20" src="{{ asset('build/images/resources/'~guildTreasury.resource.slug~'.png') }}">
                        {{ guildTreasury.resource.name }}
                    </td>
                    <td data-order="{{ guildTreasury.amount }}">
                        {{ guildTreasury.amount|format_number  }}
                    </td>
                    <td data-order="{{ guildTreasury.action }}">
                        {{ guildTreasury.action  }}
                    </td>
                    <td data-order="{{ guildTreasury.resource.era.number }}">
                        {{ ('era.i'~guildTreasury.resource.era.number)|trans }}
                    </td>
                    <td data-order="{{ guildTreasury.createdAt.getTimestamp }}">
                        {{ guildTreasury.createdAt|format_datetime('long') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagerfanta(guildTreasuries) }}
{% endblock %}