.modal-body,
.modal-content,
body{
  background: #32383e;
  color: #FFF;
}
.popover-header {
  color: #212529;
}
.construction-img {
  border: 2px solid $red;
  display: block;
  float: left;
  margin: 0 5px 5px 0;

  &.success {
    border-color: $green;
  }
}
.bg-dark {
  background-color: #202326 !important;
}b, strong {
   font-weight: 900;
   color:
           burlywood;
 }