<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/logo.jpg') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/logo.jpg') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/logo.jpg') }}">
        <title>{% block title %}FoE - {{ GUILD_NAME }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img src="{{ asset('build/images/logo.jpg') }}" width="55" height="55" class="d-inline-block align-top" alt="" style="margin-top: -13px; margin-bottom: -13px"> {{ GUILD_NAME }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <ul class="navbar-nav  mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            Gracze
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('homepage') }}">Statystyki</a>
                            <a class="dropdown-item" href="{{ path('battles') }}">Walki</a>
                            <a class="dropdown-item" href="{{ path('players') }}">Epoki</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page_guild') }}">Gildia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page_adventures') }}">WG</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            GPC
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('page_battlegrounds') }}">Statystyki</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page_battlegrounds') }}">GPC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('other_guild_stats') }}">GPC - walki przeciwników</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('resources_gvg') }}">GVG</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            Skarbiec
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('page_resources') }}">Stan</a>
                            <a class="dropdown-item" href="{{ path('page_resources_list') }}">Stan - lista</a>
                            <a class="dropdown-item" href="{{ path('page_resources_detail') }}">Stan - szczegóły</a>
                            <a class="dropdown-item" href="{{ path('page_resources_gpc') }}">Stan - szczegóły(GPC)</a>
                            <a class="dropdown-item" href="{{ path('page_resources_gpc_cost') }}">Epoka graczy vs Budynki GPC</a>
                            <a class="dropdown-item" href="{{ path('page_resources_building_production') }}">Produkcja budynków</a>
                        </div>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ path('page_resources_logs') }}">Skarbiec - Historia</a>#}
{#                    </li>#}
                    {% for page in page.getPages  %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('page',{'slug':page.slug}) }}">{{ page.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <span class="navbar-text text-white">
                  Ostatnia Aktualizacja: {{ page.lastUpdate|format_datetime }}
                </span>
            </div>
        </nav>
        <div class="alert alert-info">Jeśli zauważyłeś błąd lub masz pomysł na zmianę/dodanie czegoś poproszę o kontakt. <strong><a href="mailto:patryk@polomski.org">Astaroth.</a></strong></div>
        {% block outer_body %}
        <div class="container-fluid">
        {% block body %}
        {% endblock body %}
        </div>
        {% endblock outer_body %}
    </body>
</html>
